@layer components {
  .dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: theme('colors.black' / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    max-width: 500px;
    position: relative;
    padding: theme('spacing.4');
  }

  .dialog-title {
    font-size: theme('fontSize.xl');
    color: theme('colors.gray.900');
    margin-bottom: theme('spacing.6');
  }

  .dialog-description {
    color: theme('colors.gray.600');
    margin-bottom: theme('spacing.4');
  }

  .dialog-close {
    color: theme('colors.gray.900');
    position: absolute;
    width: 30px;
    height: 30px;
    top: theme('spacing.4');
    right: theme('spacing.4');
  }
}
